<h1>Burgers to be eaten</h1>

<div>
  {{#each data}}
  {{#unless this.devoured}}

   <div>
    <span>{{this.id}} {{this.burgerName}} </span>
    <form method="post" action="/devour/{{this.burgerName}}"">
    <input type="hidden" type="text" name={{this.burgerName}} value={{this.id}}>

          <button type="submit" class="btn btn-default">CONSUME THIS BURGER!</button>
   </div>
   {{/unless}}

   {{/each}}
</div>

  <h1> totally eaten this burger </h1>
<div>
  {{#each data}}
{{#if this.devoured}}
   <div>
    <span>{{this.id}} {{this.burgerName}} </span>
   </div>
   {{/if}}
   {{/each}}
</div>


  <h2> enter new burger down below</h2>

<form action="/newburger" method="POST" >
  <input class="form-control" type="text" name="burgerName" value="">
  <button type="submit">Submit</button>
</form>